<div class="container">
  <div class="form mat-elevation-z6">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="flex-0">
          <a mat-icon-button [routerLink]="['..']">
            <mat-icon>arrow_back</mat-icon>
          </a>
        </span>

        <span>Alterar senha</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="form-panel">
      <form class="flex column" *ngIf="user">
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput name="password" [(ngModel)]="password" type="password" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Repita a senha</mat-label>
          <mat-icon matSuffix *ngIf="correctPassword()">check</mat-icon>
          <mat-icon matSuffix *ngIf="!correctPassword()">block</mat-icon>
          <input matInput name="confirm-password" [(ngModel)]="confirmPassword" type="password">
        </mat-form-field>

        <div class="actions">
          <a mat-raised-button routerLink="..">Cancelar</a>
          <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="!correctPassword()">Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
